# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.melos_tool/
coverage/
.sconsign.dblite
.melody/
.dartenv/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
ios/Pods/
ios/Podfile.lock
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
DerivedData/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Files and directories created by pub
.packages
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# dotenv environment variables file
.env*

# Avoid committing generated Javascript files:
*.dart.js
*.info.json      # Produced by the --dump-info flag.
*.js             # When generated by dart2js. Don't specify *.js if your
                 # project includes source files written in JavaScript.
*.js_
*.js.deps
*.js.map

# Исключаем файлы базы данных Realm
*.realm
*.realm.lock
*.realm.management/
*.realm.note
*.realm.log
*.realm.log_a
*.realm.log_b

# Firebase & Push
firebase.json
GoogleService-Info.plist
*.p8       # APNs auth key
*.p12      # Apple сертификаты
*.jks      # Android keystore
*.keystore

# CI/CD & Secrets
.env
*.env.*
.secret
*.key
*.pem
*.crt

# Logs
*.log
pubspec.lock